language: php

php:
  - 5.5
  - 5.6
  - 7.0

env:
  - SYMFONY_VERSION=2.8.*
  - SYMFONY_VERSION=3.0.*
  - SYMFONY_VERSION=3.1.*

before_install:
  - pear install pear/PHP_CodeSniffer
  - phpenv rehash
  - composer self-update

install:
  - composer require symfony/symfony:${SYMFONY_VERSION}

script:
  - phpcs --ignore=/vendor/* --extensions=php --encoding=utf-8 --standard=PSR2 -np .

notifications:
  email:
    - bjouhaud@prestaconcept.net
