.presta-image .hidden {
    display: none !important;
}

.presta-image .presta-image-form {
    display: flex;
    justify-content: center;
}

.presta-image .presta-image-form > * {
    margin: 0 10px;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget {
    margin: 10px 0;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget:first-child {
    margin-top: 0;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget:last-child {
    margin-bottom: 0;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-file-upload input[type="file"] {
    display: none;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url {
    display: flex;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url > * {
    justify-content: flex-start;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url .loader {
    display: inline-block;
    font-size: 10px;
    height: 30px;
    margin: 0;
    text-align: center;
    width: 50px;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url .loader > div {
    background-color: #5bc0de;
    display: inline-block;
    height: 100%;
    margin: 1px;
    width: 6px;

    -moz-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url .loader .rect2 {
    -moz-animation-delay: -1.1s;
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url .loader .rect3 {
    -moz-animation-delay: -1.0s;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url .loader .rect4 {
    -moz-animation-delay: -0.9s;
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.presta-image .presta-image-form .presta-image-form-widgets .presta-image-form-widget.widget-remote-url .loader .rect5 {
    -moz-animation-delay: -0.8s;
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-moz-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -moz-transform: scaleY(0.4)
    }
    20% {
        -moz-transform: scaleY(1.0)
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
    }
}
